<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <div class="avatar">
          <img src="{{ site.baseurl }}/stc/img/threnody.png" />
        </div>
      <h2>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">
        Run by 
          <a href="{{ site.author.url }}" target="_blank">
              @{{ site.author.name }}
          </a>
      </p>  
      <hr />
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Posts</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with `layout: page`
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a href="{{ site.baseurl }}/atom.xml" target="_blank">Feed</a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
